PUBLIC_TYPESENSE_API_HOST=typesense.acdh-dev.oeaw.ac.at
PUBLIC_TYPESENSE_API_PORT=443
PUBLIC_TYPESENSE_API_PROTOCOL=https
# Typsense search key for the LOI collection
TYPESENSE_SEARCH_API_KEY=CQQVJQQCjF8H6hdgQdavKRv7ZBcg6EuD

# Typesense admin key to create collection schema and import documents.
TYPESENSE_ADMIN_API_KEY=verysecretkey